@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  caret-color: green;
  /* font-family: "Space Grotesk"; */
  transition: all 0.6s ease-in-out;
}

::selection{
  background: rgba(0, 128, 0, 0.4);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: "Space Mono"; */
  --animate-openup: openup 0.5s ease-in-out;
  --animate-opacity: opacity 0.3s ease-in-out;
	@keyframes openup {
		0% {
			opacity: 0;
			transform: translateY(20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}
	@keyframes opacity {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

*{
  scrollbar-width: none;
  transition: all 0.6s ease-in-out;
}

#canvas{
  caret-shape: underscore;
}