@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  caret-color: greenyellow;
  transition: all 0.6s ease-in-out;

}

::selection{
  background: rgba(0, 128, 0, 0.4);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Space Mono";
  --animate-openup: openup 0.5s ease-in-out;
	@keyframes openup {
		0% {
			opacity: 0;
			transform: translateY(20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Space Mono";
  /* font-family: Arial, Helvetica, sans-serif; */
}

*{
  scrollbar-width: none;
}