[data-theme='dark'] {
	color: white;
}

h1 {
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 10px;
	margin-top: 10px;
}

h2 {
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 4px;
}

h3 {
	font-size: 16px;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 4px;
}

ul {
	margin-left: 40px;
}

code {
	background-color: rgba(255,255,255, 0.1);
	padding: 1px 10px;
	border-radius: 8px;
	border: 1px solid rgba(255,255,255, 0.2);
	font-family: "Space Mono";
}

blockquote{
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 1px solid white;
	background-color: rgba(255,255,255, 0.1);
}

table, tr, td, th{
	border: 1px solid gray;
	padding: 10px 20px;
}
/* 
tr{
	border: 1px solid white
}

td, th{
	border: 1px solid white;
} */

a{
	text-decoration: underline;
	color: #4493f8;
}

ul{
	list-style-type: disc;
}

ol li{
	margin-left: 30px;
}